body{
    margin: 0;
    padding: 0;
}
#main {
    transition: margin-right .5s;
}
section{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.line{
    width: 15%;
    height: 10px;
    font-size: 2em;
    height: 8px;
    background-color:#000;
    color:#000;
    border: 0 none;
}

.col-md-6{
    padding-left: 0px;
    padding-right: 0px;
}
/* navbar */

.navbar-default{
    position: relative;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.fa-shopping-bag, .fa-bars{
    font-size: 25px;
}
.fa-shopping-bag, .fa-bars:hover{
    font-size: 25px;
    cursor: pointer;
}
.logo-center:hover{
    cursor: pointer;
}
@media only screen and (max-width: 765px) {
   
    .logo-center{
        max-width: 140px;
        margin-top:-60px;
    }
    
    .text-right{
        margin-top:-55px;
        display: inline;
        overflow: hidden;
    }
}
/* navbar end */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    right: 0;
    background-color:#ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}
.sidenav  h5{
    margin-left:90px;
    font-size: 14px;
    font-weight: bold;
    text-transform:uppercase;
    font-family: "Open Sans","HelveticaNeue","Helvetica Neue",sans-serif;
    letter-spacing: 1.5px;
    display: inline;

}
 .close-btn-nav{
  cursor: pointer;
  text-align: right;
  margin-right:35px;
  font-weight: 100;
  float: right;
  margin-top:-2px;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  

}
.sidenav p{
    padding-top:60px;
    margin-left:10px;
    text-align: center;
}

/* sidebar end */

/* header */
.header{
    background: url(../img/fashion-918446_1280.jpg) no-repeat;
    position: relative;
    width: 100%;
    background-size: cover;
    height: 38em;
}
.header-container{
    margin: 0 auto;
    position: relative;
    display: block;
    padding-top: 16%
}
.header-container-text{
    position: relative;
    color: white;
}
.btn-container{
    margin: 0 auto;
    margin-top: 2em;
}
.header-button{
    position: relative;
    height: 3.2em;
    background-color: black;
    color: white;
    border: 1px solid black;
    margin: 0 auto;
}
.header-button:hover{
    transform: scale(1.08);
    transition: 1s;
    position: relative;
    height: 3.2em;
    background-color: black;
    color: white;
    border: 1px solid black;
    margin: 0 auto;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
/* header end */

/* frame */

.frame{
padding-top: 40px;
padding-bottom:40px;
}

.frame-img{
    width: 80%;
}

.frame-sub-container{
    position: relative;
    display: block;
    margin: 30px;
    /* margin: 0 auto; */
}

/* frame end */

/* imagine */

.imagine{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.imagine-bg{
    background: url(../img/bg-man.jpg) no-repeat;
    width: 100%;
    overflow-x: visible;
    overflow: visible;
    background-size: cover;                
    background-repeat:   no-repeat;
    background-position: center center;
    /* height: 456px; */
}
.imagine-container{
    position: relative;
    margin-top: 5em;
    margin-bottom: 5em;
}
.imagine-btn{
    width: 12em;
    height: 3.2em;
    background-color: black;
    color: white;
    border: 1px solid black;

}
.imagine-btn:hover{
    transform: scale(1.08);
    transition: 1s;
    width: 12em;
    height: 3.2em;
    background-color: black;
    color: white;
    border: 1px solid black;
}

/* imagine end */

/* story */
.story{
    margin: 0;
}
.story-img{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

}

.story-sub-container{
    margin: 0 auto;
    margin-top: 6em;
}

/* Slogan */

.slogan{
    background-image: url(../img/business-suit.jpg);
    width: 100%;
    height: 400px;
}

.slogan-text-container{
    padding-top: 10em;
}

.slogan-text{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(187, 80, 214);
}

/* footer */
/* .footer-text{
    color: antiquewhite
} */

.footer-underline{
    text-decoration: underline;
}
/* design */
.design-bg{
    background-image: url(../img/legendary-1587325_640.jpg);
    /* width: 100%; */
    background-size: cover;
    /* z-index: 1; */
}
.design-img{
    margin: 0;
    width: 100%;
}

/* design end */


/* detail */
.detail{
    position: relative;
    display: block;
    margin-bottom: 5em;
}

.detail-text-container{
    margin-top: 7em;
    margin-bottom: 7em;
    width: 65%;
}
.detail-sub-container{
    position: relative;
    padding-top: 5em;
    padding-bottom: 5em;
}
.detail-text{
    font-size: 20px;
}
.detail-border{
    border: 3px solid orange;
    width: 70%;
}
.detail-img{
    width: 100%;
}
.detail-plan{
    text-align: justify;
    margin: 0 auto;
    margin-top: 10em;
    padding-right: 5em;
}

@media(max-width:770px) {
    .detail-sub-container{
        position: relative;
        display: inline;

    }

    .detail-plan{
        text-align: justify;
        margin: 0 auto;
        margin-top: 2em;
        padding-right: 0px;
        /* padding-left: 3em;
        padding-right: 3em; */
    }

    .detail-img{
        width: 100%;
    }
}

/* @media(max-width:506px) {
    .detail-plan{
        text-align: justify;
        margin: 0 auto;
        margin-top: 2em;
        /* padding-right: 0px; */
    }
} */

@media(max-width:523px) {
    .detail-plan > h2{
        text-align: justify;
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 5px;
    } 
}


/* detail end */

/* Slider Design */

.slider-design{
    position: relative;
    display: block;
    width: 100%;
    height: 38.1em;
    padding-top: 1.5em;
}

.clsscroll  {	
    background-color:#ebebeb;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 38.1em;
    width: 100%;
}
.slider-img{
    padding: 50px; 
    width: 400px;
    height: 400px;
    margin-top: 1.2em
}
.slider-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 23px;
    margin-bottom: 3em

}	
::-webkit-scrollbar { 
display: none; 
}
@media(max-width:770px){
    .slider-design{
        position: relative;
        display: block;
        width: 100%;
        height: 38.1em;;
        overflow-y: hidden;
    }
    
    .clsscroll  {	
        background-color:#ebebeb;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 38.1em;
        width: 100%;
    }
    .slider-img{
        padding: 50px; 
        width: 400px;
        height: 400px;
        margin-top: 1.2em
    }
    .slider-text{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        font-size: 23px;
        margin-bottom: 3em
    
    }	
    ::-webkit-scrollbar { 
    display: none; 
    }
}

/* Slider Design End */

.inspiration{
    background: url("https://cdn.shopify.com/s/files/1/2688/7902/files/last.jpg?v=1525537370") no-repeat;
    width: 100%;
    height: 100%;
    /* height: 40em; */
}
.inspiration-text-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10em;
}
.inspiration-text-container p{
    padding-bottom: 3em;
}
.sign-btn{
    width: 8em;
    height: 3.2em;
    background-color: black;
    color: white;
    border: 1px solid black;
}
.sign-btn:hover{
    transform: scale(1.08);
    transition: 1s;
    width: 8em;
    height: 3.2em;
    background-color: black;
    color: white;
    border: 1px solid black;
}
@media(max-width:1200px){
    .inspiration-text-container{
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

/* footer */
.footer{
    position: relative;
    display: block;
    background-color: #b0aeac;
    color: white;
    width: 100%;
    height: 100%;
}
.footer-text-container{
    padding-top: 4em;
    padding-bottom: 4em;
}
.footer-text-container ul{
    padding: 0px;
}
.footer-text-container ul>li{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}
.footer-text-container ul li> a{
    text-decoration: none;
    list-style: none;
    color: white
}
.footer-text-container ul li> a:hover{
    text-decoration: none;
    list-style: none;
    color: #dfddd9
}
.blank{
    padding-top: 2em;
    padding-bottom: 2em;
}
.text-underline{
    text-decoration: underline;
}

@media(max-width:730px) {
    .blank{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media(max-width:390px) {
    .blank{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .footer-text{
        font-size: 14px;
    }
}

/* footer end */


/* sidebar */



